Makefile
*~
*.bak
*.layout
aclocal.m4
autom4te.cache
*.log
config.status
configure
config.h
stamp-h1
.bin
.obj
.src
*.zip
*.tar
*.bz2
*.depend
ChangeLog
revision
revision.m4
*.ini
jni3270.h
javadoc
jni
rpm/BUILD
rpm/BUILDROOT
rpm/RPMS
rpm/SOURCES
rpm/SPECS
rpm/SRPMS
win/makepackage.sh
win/makeruntime.sh

