Source: pw3270-plugin-java
Section: unknown
Priority: optional
Maintainer: Perry Werneck <perry.werneck@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, autoconf, gettext, libgtk-3-dev, pw3270-dev, default-jdk

Package: pw3270-plugin-java
Architecture: any
Depends: ${misc:Depends}, pw3270, pw3270-java (= ${binary:Version})
Description: Java support for pw3270.
 This package provides a plugin allowing calling of java classes from pw3270 application.

Package: pw3270-java
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lib3270
Description: Java class for acessing 3270 hosts.
 This package provides a Java class for acessing 3270 hosts.

Package: pw3270-javadoc
Architecture: any
Depends: ${misc:Depends}, pw3270-java (= ${binary:Version})
Description: Javadoc for pw3270.
 API Documentation for pw3270.

