Source: tn3270-java
Section: unknown
Priority: optional
Maintainer: Perry Werneck <perry.werneck@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, autoconf, automake, gettext, libssl-dev, pkg-config, lib3270-dev, libipc3270-dev, java-dev

Package: tn3270-java
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: pw3270-plugin-ipc (= ${binary:Version})
Provides: tn3270-java (= ${binary:Version})
Description: TN3270 Access library.
 TN3270 access library originally designed as part of the pw3270 application.

Package: tn3270-javadoc
Architecture: any
Provides: tn3270-javadoc (= ${binary:Version})
Section: libdevel
Depends: ${misc:Depends}, tn3270-java (= ${binary:Version})
Description: TN3270 Access library javadoc.
 TN3270 access library originally designed as part of the pw3270 application.

Package: tn3270-java-dbg
Architecture: any
Depends: tn3270-java (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for tn3270-java
 This package contains the debugging symbols for tn3270-java.

