#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=9

CFLAGS = -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif

build: build-stamp
build-stamp:
	dh_testdir

	set
    
	echo "m4_define([SVN_REVISION], 0)" > revision.m4
	echo "m4_define([SVN_URL], http://softwarepublico.gov.br/gitlab/pw3270/principal.git)" >> revision.m4
	echo "m4_define([APP_LEVEL], 0)" >> revision.m4

	# Add here commands to compile the package.
	aclocal
	autoconf

	./configure \
		JRE_HOME="`readlink -f /usr/bin/java | sed "s@bin/java@@"`" \
		JDK_HOME="`readlink -f /usr/bin/javac | sed "s@bin/javac@@"`" \


	rm -f debian/*.install
	make clean
	make Release
	# --- end custom part for compiling

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	if [ -e Makefile ]; then make clean ; fi
	# --- end custom part for cleaning up

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install Java plugin
	make DESTDIR=$(PWD)/debian/pw3270-plugin-java BINDIR=../../.bin install-plugin

	# Install Java extension
	make DESTDIR=$(PWD)/debian/pw3270-java BINDIR=../../.bin install-jni

	# Install Javadoc
	make DESTDIR=$(PWD)/debian/pw3270-javadoc BINDIR=../../.bin install-doc
  
	# Create updated file lists
	find $(PWD)/debian/pw3270-plugin-java -type f | sed -e "s@^$(PWD)/debian/pw3270-plugin-java/@/@g" > $(PWD)/debian/pw3270-plugin-java.install

	find $(PWD)/debian/pw3270-plugin-javadoc -type f | sed -e "s@^$(PWD)/debian/pw3270-plugin-java/@/@g" > $(PWD)/debian/pw3270-javadoc.install

	find $(PWD)/debian/pw3270-java -type f | sed -e "s@^$(PWD)/debian/pw3270-java/@/@g" > $(PWD)/debian/pw3270-java.install


	# --- end custom part for installing

# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
